[submodule "scripts/novaboot"]
	path = scripts/novaboot
	url = https://github.com/wentasah/novaboot.git
[submodule "scripts/buildroot"]
	path = scripts/buildroot
	url = http://git.buildroot.net/git/buildroot.git
[submodule "targets/ryuglab/linux"]
	path = targets/ryuglab/linux
	url = https://github.com/Cynerd/linux-ryu.git
[submodule "targets/bbb/linux"]
	path = targets/bbb/linux
	url = https://github.com/wentasah/linux-beagleboard.git
