[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "scripts/novaboot"]
	path = scripts/novaboot
	url = https://github.com/wentasah/novaboot.git
[submodule "scripts/buildroot"]
	path = buildroot
	url = http://git.buildroot.net/git/buildroot.git
